<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/Weather.css">
    <script src="/jquery&plugins/jquery.min.js"></script>
    <script src="/jquery&plugins/jquerytypewriter.js"></script>
</head>
<body>
    <a href="/index"><h3 id="Entrance"class="link"><-</h3></a>
 <div class="forecast">
    <div class="separation"></div>
    <div>
        <h2 class="temp" id="today"></h2>
    </div>
    <div class="separation"></div>
    <div>
        <h2 class="temp" id="Day2"></h2>
    </div>
    <div class="separation"></div>
    <div>
        <h2 class="temp" id="Day3"></h2>
    </div>
    <div class="separation"></div>
    <div>
        <h2 class="temp" id="Day4"></h2>
    </div>
    <div class="separation"></div>
    <div>
        <h2 class="temp" id="Day5"></h2>
    </div>
    <div class="separation"></div>
    <div>
        <h2 class="temp" id="Day6"></h2>
    </div>
    <div class="separation"></div>
    <div>
        <h2 class="temp" id="Day7"></h2>
    </div>
    <div class="separation"></div>
 </div>
</body>
<script type="module" src="/js/Weather.js"></script>
</html>